@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=League+Gothic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/themes/3120506/settings_images/zuvwfedsSAyEMyUOn6FA_banner.png")
    100% no-repeat;
  font: 400 1rem "Fredoka", sans-serif;
  color: #fff;
  height: 100vh;
}
