.HomeContent {
  display: flex;

  main {
    flex: 7;
    display: flex;
    justify-content: center;
    margin-top: 5rem;

    .Form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border: 1px solid #c8dde5;
      border-radius: 2rem;
      gap: 2rem;

      padding: 4.375rem 2.18rem;
      width: 30rem;

      img {
        max-width: 12rem;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 1rem;

        .FormInput {
          img {
            max-width: 1rem;
            position: relative;
            left: 245px;
            bottom: 32px;
          }

          label {
            color: #23232e;
            position: relative;
            bottom: 32px;
          }

          input {
            border: none;
            border-radius: 1.5rem;
            width: 100%;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 3rem;
            background-color: #dcf3fb;
            outline: 3px solid transparent;

            &:hover,
            &:focus {
              outline: 3px solid blue;
            }
          }
        }

        button {
          border: none;
          border-radius: 1.5rem;
          width: 100%;
          padding: 1rem 1.5rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: #66c3ea;
          color: #fff;
          font-size: 1rem;
          margin-bottom: 1rem;
        }
      }

      .ForgotThePassword {
        width: 80%;
        color: #66c3ea;
        background: #fff;
        outline: 1px solid #66c3ea;
        white-space: nowrap;
        padding: 1rem 2rem;
      }
    }
  }

  aside {
    flex: 8;
  }
}
